<div class="contents">
  <% @restaurants.each do |restaurant| %>
    <div class="contents-list">
    <%= image_tag restaurant.image.variant(resize:'200x200'), class: 'restaurant-image' if restaurant.image.attached?%>
    <p></p>
    <%= link_to restaurant.menu,restaurant_path(restaurant.id) %>
    </div>
  <% end %>
 </div>
</div>
