.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 600px;
}

body{
  height: 100%;
  background-color: #FFE4C4;
  padding-top: 60px;
}

h1,
body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #57C3E9;
}

.bold {
  font-weight: bold;
}

.ultra {
  font-size: 2em !important;
}

.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #FF9900;
  color: #FF9900;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.btn:hover,
header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}

header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}

header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}

header.header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

header.header .user_nav span {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

header.header .user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

header.header .user_nav ul li {
  background-color: #f0f0f0;
}

header.header .user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}

.form .contents {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
}

.form footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

form input,
form textarea {
  height: 50px;
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  height: 50px;
  background-color:#FF9900;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color:black;
}

footer p {
  text-align: center;
}


.prefecture-select{
  height: 40px;
  width: 250px;
  margin: 5px 0 15px;
}

.contents{
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
}

.contents-list{
  padding: 20px;
  min-width: 33%;
}

.restaurant-show {
  background-color: #FFE4C4;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.restaurant-box {
  background-color: #FFE4C4;
  width: 70vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-img-content{
 position: relative;
}

.restaurant-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #eee;
  object-fit: contain;
  max-width: 600px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-value {
  width: 80%;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
}

.btn-content{
  text-align: center;
  padding: 30px;
}

.edit-btn {
  background-color: #FF9900;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.destroy-btn {
  background-color: #669900;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}
