/* リセットCSS */
body {
  color: #333;
  margin: 0 auto;
  height: 100%;
  background-color: #FFE4C4;
}

header {
  height: 90px;
  background-color: #f0f0f0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
  letter-spacing: 0.15em;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: #FF9900;
}

a:hover {
  color: #00FF99;
}

.btn {
  width: auto;
  height: 50px;
  padding: 8px 10px;
  font-size: 20px;
  border: 2px solid #FF9900;
  color: #FF9900;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

/* トップ画像*/
.first-view{
  height: 30vh;
}

.top-image{
  height: 100%;
  width: 100%;
}

.title {
  width: 50%;
  margin-left: 30px;
  color: #FF9900;
}

/* トップページ*/
.contents{
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: auto;
  background-color: #FFE4C4;
}

.contents-list{
  padding: 20px;
  min-width: 10%;
}

footer {
  margin: 30px auto;
}

footer p {
  margin-left: 30px;
  color:#FF9900;
  
}

/* 入力フォーム*/
.container {
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  max-width: 600px;
  margin: 100px auto;
}

form input,
form textarea {
  height: 50px;
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: 'Unica One';
}

form input[type="submit"] {
  height: 50px;
  background-color:#FF9900;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #00FF99;
}

.prefecture-select{
  height: 50px;
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: 'Unica One';
}

/* 詳細ページ*/
.restaurant-show {
  background-color: #FFE4C4;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.restaurant-box {
  background-color: #FFE4C4;
  width: 70vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-img-content{
 position: relative;
}

.restaurant-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #eee;
  object-fit: contain;
  max-width: 600px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-value {
  width: 80%;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
}

.btn-content{
  text-align: center;
  padding: 30px;
}

.edit-btn {
  background-color: #FF9900;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.destroy-btn {
  background-color: #669900;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}
